// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/display.css';
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';
ion-item-divider{
  margin-top: 0px;
  min-height: 10px!important;
}
a{
  color:#000;
  text-decoration:none;
}
.pl-10{
  padding-left:10px;
}
.p-0{
	padding:0px;
}
.p-15{
	padding:15px;
}
.w-100{
	width:100%;
}
.float-right{
	float:right;
}